* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 60px;
    user-select: none;
}

main {
    padding: 20px;
}

body {
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding-top: 60px; /* Space for fixed header */
    padding-bottom: 50px; /* Space for fixed footer */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 50px;
    user-select: none;
}